/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #fff !default;
$stable:                          #F4F4F4 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #690079 !default;
$dark:                            #444 !default;

$bar-height:                      50px !default;
$bar-footer-height:               60px !default;

// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;

// Include all of Ionic
@import "../../bower_components/ionic/scss/ionic";

.row100 {
  width: 100%;
  overflow: hidden;
}

.div50 {
  width: 50%;
  float: right;
}

.div35 {
  width: 35%;
  float: right;
}

.div30 {
  width: 30%;
  float: right;
}

.div25 {
  width: 25%;
  float: right;
}

// footer
.footerIcon {
  font-size: 30px;
}

.footerText {
  font-size: 10px;
}

//Home
.homeTop {
  background-color: $stable;
}

.homeSearch {
  width: 80%;
  margin: 10px auto;
  padding: 0 5px;
  text-align: center;
}

.homeTop .div35 {
  margin-bottom: 10px;
  color: $royal;
}




