<ion-view view-title="Login">
    <ion-content>

        <div class="list">
            <label class="item item-input">
                <input type="email" placeholder="Email" ng-model="login.email">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="login.password">
            </label>
        </div>

        <button class="button button-positive" ng-click="authenticate()">Login</button>
        <button class="button button-positive" ui-sref="main.register">Register</button>

    </ion-content>
</ion-view>
