<ion-view view-title="Login Company">
    <ion-content>

        <div class="list">
            <label class="item item-input">
                <input type="email" placeholder="Email" ng-model="company.email">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="company.password">
            </label>
        </div>

        <button class="button button-positive" ng-click="authenticate()">Login</button>
        <button class="button button-positive" ui-sref="main.register_company">Register</button>


    </ion-content>
</ion-view>
