<ion-side-menus enable-menu-with-back-views="true">

    <ion-side-menu-content>

        <ion-nav-bar class="bar-royal">

            <ion-nav-buttons side="left">

            </ion-nav-buttons>

            <!--<ion-nav-back-button>-->
            <!--</ion-nav-back-button>-->

            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="pageContent"></ion-nav-view>

    </ion-side-menu-content>

    <ion-side-menu side="right">

        <ion-header-bar class="bar-stable">
            <h1 class="title">Nav</h1>
        </ion-header-bar>

        <ion-content>
            <ion-list>
                <ion-item menu-close ui-sref="main.login">
                    Login
                </ion-item>
                <ion-item menu-close ui-sref="main.register">
                    Register
                </ion-item>
                <ion-item menu-close ui-sref="main.profile">
                    Profile
                </ion-item>
                <ion-item menu-close ui-sref="main.home">
                    Home
                </ion-item>
                <ion-item menu-close ui-sref="main.register_company">
                    Register company
                </ion-item>
                <ion-item menu-close ui-sref="main.register_company_additional">
                    Register additional
                </ion-item>
                <ion-item menu-close ui-sref="main.login_company">
                    Login Company
                </ion-item>
                <ion-item menu-close ui-sref="main.company">
                    Company
                </ion-item>
            </ion-list>
        </ion-content>

    </ion-side-menu>

</ion-side-menus>
