<ion-view view-title="Profile">
    <ion-content>

        <div class="list">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" ng-model="user.email">
            </label>
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" ng-model="user.name">
            </label>
            <label class="item item-input">
                <span class="input-label">Phone</span>
                <input type="tel" ng-model="user.phone">
            </label>
        </div>

        <button class="button button-positive" ng-click="update()">Update</button>

        <div class="list padding-top">
            <label class="item item-input">
                <span class="input-label">Old password</span>
                <input type="password" ng-model="credentials.old_password">
            </label>
            <label class="item item-input">
                <span class="input-label">New password</span>
                <input type="password" ng-model="credentials.new_password">
            </label>
            <label class="item item-input">
                <span class="input-label">Password confirmation</span>
                <input type="password" ng-model="credentials.password_confirmation">
            </label>
        </div>

        <button class="button button-positive" ng-click="changePassword()">Change Password</button>

    </ion-content>
</ion-view>
