<ion-view view-title="Upload">
    <ion-content class="padding">

        <div class="padding">
            <button class="button button-royal" data-choose-video video="video.file">Record video</button>
            <div class="button button-royal" ngf-accept="'video/*'" ngf-select="selectFile($file)">Select video</div>
        </div>

        <video controls ngf-src="video.file" style="width: 80%; margin: 0 auto;" ng-if="video.file != ''"></video>

        <div id="home_video" ng-if="video.file != ''"></div>
        <div id="home_video_container" ng-if="video.file != ''"></div>

        <!--<div class="padding" ng-if="video.file != ''">-->
            <!--<button class="button button-royal" ng-click="uploadVideo()">Upload video</button>-->
        <!--</div>-->

        <div class="padding">
            <button class="button button-royal" data-choose-picture pictures="logo.file">Add image</button>
        </div>

        <div class="padding" ng-if="logo.file != ''">
            <img ng-src="{{logo.file}}" style="width: 100%;">
        </div>

        <div class="padding">
            <button class="button button-royal" ng-click="uploadFiles()">Upload files</button>
        </div>

    </ion-content>
</ion-view>
