<ion-view view-title="Home">
    <ion-content class="has-footer">

        <div class="homeTop">

            <div class="row100">
                <input type="search" dir="rtl" ng-model="search" class="homeSearch" placeholder="חיפוש">
            </div>

            <div class="row100">

                <div class="div35 text-center" dir="rtl">

                    <select ng-model="data.category">
                        <option value="0">בחר קטגוריה</option>
                        <option ng-repeat="cat in company_categories" value="{{cat.id}}">{{cat.title}}</option>
                    </select>

                </div>

                <div class="div35 text-center" dir="rtl">

                    <select ng-model="data.region">
                        <option value="0">בחר איזור</option>
                        <option ng-repeat="reg in regions" value="{{reg.id}}">{{reg.title}}</option>
                    </select>

                </div>

                <div class="div30 text-center royal" ui-sref="main.companies({category: data.category, region: data.region})">חפש</div>
            </div>

        </div>

        <div ng-repeat="cat in company_categories" class="div50">

            <img ng-src="{{cat.image}}" style="width: 95%;">

        </div>

    </ion-content>
    <ion-footer-bar class="text-center" dir="rtl">
        <div class="div25">
            <i class="icon ion-checkmark-round royal footerIcon"></i>
            <div class="footerText royal">העלה סרטון</div>
        </div>
        <div class="div25">
            <i class="icon ion-map royal footerIcon"></i>
            <div class="footerText royal">מפת עסקים</div>
        </div>
        <div class="div25">
            <i class="icon ion-ios-keypad royal footerIcon"></i>
            <div class="footerText royal">הזן קוד</div>
        </div>
        <div class="div25">
            <i class="icon ion-cube royal footerIcon"></i>
            <div class="footerText royal">חנות הטבות</div>
        </div>
    </ion-footer-bar>
</ion-view>
