<ion-view view-title="Register">
    <ion-content>

        <div class="list">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" ng-model="user.email">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.password">
            </label>
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" ng-model="user.name">
            </label>
            <label class="item item-input">
                <span class="input-label">Phone</span>
                <input type="tel" ng-model="user.phone">
            </label>
            <label class="item item-input">
                <span class="input-label">Address</span>
                <input type="text" ng-model="user.address" g-places-autocomplete="">
            </label>
        </div>

        <button class="button button-positive" ng-click="register()">Register</button>

    </ion-content>
</ion-view>
