<ion-view view-title="Register company">
    <ion-content>

        <div class="list">
            <label class="item item-input">
                <span class="input-label">Title</span>
                <input type="text" ng-model="company.title">
            </label>
            <label class="item item-input">
                <span class="input-label">Address</span>
                <input type="text" ng-model="company.address" g-places-autocomplete="">
            </label>
            <label class="item item-input">
                <span class="input-label">Category</span>
                <select ng-model="company.company_category_id">
                    <option value="0">בחר קטגוריה</option>
                    <option ng-repeat="cat in company_categories" value="{{cat.id}}">{{cat.title}}</option>
                </select>
            </label>
            <label class="item item-input" ng-show="company.company_category_id !== '0'">
                <span class="input-label">Subcategory</span>
                <select ng-model="company.company_subcategory_id">
                    <option value="0">בחר תת-קטגוריה</option>
                    <option ng-repeat="cat in company_categories[company.company_category_id - 1].company_subcategories" value="{{cat.id}}">{{cat.title}}</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">Phone</span>
                <input type="tel" ng-model="company.phone">
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" ng-model="company.email">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="company.password">
            </label>
            <label class="item item-input">
                <span class="input-label">Region</span>
                <select ng-model="company.region_id">
                    <option value="0">בחר איזור</option>
                    <option ng-repeat="reg in regions" value="{{reg.id}}">{{reg.title}}</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">Description</span>
                <input type="text" ng-model="company.description">
            </label>

        </div>

        <button class="button button-positive" ng-click="register()">Register</button>

    </ion-content>
</ion-view>
